/* COLOR PALETTE
#2c2d34 - dark color
#f2910a - orange
#efd510 - mustard
*/

/* Global styles
-----------------------------------------*/
body {
    color: #2c2d34;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h2 {
    padding: 5px 30px;
    color: #f2910a;
    font-weight: 900;
}

h3 {
    padding-left: 50px;
    color: #f2910a;
}

h4 {
    padding-left: 50px;
}

h3, h4, h5 {
    font-weight: 600;
}

/* Homepage - first section
----------------------------------------*/

.flex-container-horizontal {
    display: flex;
    justify-items: center;
    width: 100%;
    padding-left: 30px;
}

.flex-container-vertical {
    display: block;
    width: fit-content;
}

.d-block {
    width: 800px!important;
    height: 400px!important;
    padding-bottom: 10px;
}

.vertical-image img {
    width: 300px;
    height: 200px;
    padding: 10px 10px 0px 10px;
}

.main-divider {
    margin: 0 8px;
}
.paragraph-homepage {
    width: 500px;
    padding: 10px 30px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: justify;
}

.carousel-item {
    padding-top: 10px;

}
.label-image {
    background-color: #ffc107;
    width: 300px;
    font-size: 40px;
    
}

.label2-image {
    background-color: #ffc107;
    opacity: 70%;
}
    
/* Homepage - second sectionI
----------------------------------------*/

.card {
    border: none;
    padding: 10px 10px;
}

.card-img-top {
    width:245px;
    height: 245px;
}

.card-title {
    color: #2c2d34;
}
.btn {
    background-color: #ffc107;
}

.btn-primary {
    color:#2c2d34 ;
    border-color: #ffc107;
}

a:hover {
    background-color: #ffc107!important;
    color:#2c2d34 ;
    opacity: 80%;
    border-color: #ffc107!important;
}

