:root {
  --dark: #2c2d34;
  --yellow: #efd510;
  --orange: #ffc107;
}

.navbar {
  position: sticky;
  top: 0;
}
.height-100 {
  height: 100%;
}
input[type="text"],
input[type="email"],
textarea {
  border: 2px solid var(--dark);
  border-radius: 4px;
  width: 60vw;
  /* padding: 4px 6px; */
}

input[type="submit"] {
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-form {
  min-height: 100vh;
  width: 100vw;
  padding: 100px 0px;
}

@media (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100vw;
  }

  input[type="submit"] {
    font-size: 20px;
    width: 100vw;
  }
}
